*,*:after,*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main div{
    background-color: lightcyan;
    padding: 15px;
   /* margin: 15px; */ 

}
img{
    height: 100%;
    border-radius: 50px;
}
.ab{
    background-color: lawngreen;
}
.get{padding: 0px;
    margin: 15px;
    text-align: center;

}
div{
    padding: 0px;
    margin: 15px;
    text-align: center;
    background-color: lightcyan; 
}
nav {
    padding: 15px;
    margin: 15px;
    text-align: center;
}
div a{
    background-color:magenta;
    padding: 10px;
    margin: 20px;;
    display: flex;
    text-decoration: none;
    border-radius: 10px;
}
header{
    padding: 15px;
    margin: 15px;
    display: flex;

}
body{
    display: flex;
    padding: 15px;
    margin: 15px;
    background-color:darkseagreen;


}